{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--Favicon-->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

	<!--compressed css-->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="header-logo py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" alt="" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>

    <header class="header-top bg-grey justify-content-center" id='up'>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2 header-left col-md-4 col-7">
					<ul class="list-inline header-socials-2 mb-0 text-center">
						<li class="list-inline-item">
							<div class="search_toggle mobile-search d-md-block d-lg-none"><i class="ti-search"></i></div>
						</li>
					</ul>
				</div>

				<div class="col-lg-8 text-center col-md-8 col-5">
					<nav class="navbar navbar-expand-lg navigation">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
							aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="ti-menu"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarContent">
							<ul id="menu" class="menu navbar-nav mx-auto ">
								<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
								<li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
								<li class="nav-item"><a href="/contact/" class="nav-link">contact</a></li>
								{% if user.is_authenticated %}
								<li class="nav-item"><a href="" class="nav-link">Logged in as {{user.username}}</a></li>
								<li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></li>
								{% else %}
								<li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Login</a></li>
								<li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link">SignUp</a></li>
								{% endif %}
								<li class="nav-item"><a href="{% url 'manage_account' %}" class="nav-link">Account</a></li>
							</ul>
						</div>
					</nav>
				</div>

				<div class="col-lg-2">
					<div class="text-right search">
						<div class="search_toggle d-none d-lg-block"><i class="ti-search"></i></div>
					</div>
				</div>
			</div>
		</div>
	</header>

{% include "messages.html" %}

	<!--search overlay start-->
	<div class="search-wrap">
		<div class="overlay">
			<form action="/?q=" method="GET" class="search-form">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-9">
							<input name='q' type="text" class="form-control" placeholder="Search..." />
						</div>
						<div class="col-md-2 col-3 text-right">
							<div class="search_toggle toggle-wrap d-inline-block">
								<i class="ti-close"></i>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!--search overlay end-->

{% block content %}
{% endblock content %}

{% comment %} {% include 'messages.html' %} {% endcomment %}

<section class="footer-2 section-padding gray-bg pb-5">
    <div class="container">
        <div class="footer-btm mt-5 pt-4 border-top">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline footer-socials-2 text-center">
                        <li class="list-inline-item"><a href="#up">Top</a></li>
                        <li class="list-inline-item"><a href="/about/">About</a></li>
                        <li class="list-inline-item"><a href="/contact/">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="copyright text-center ">
                        @ copyright all reserved to <a href="https://themefisher.com/">themefisher.com</a>-2019 Distribution
                        <a href="https://themewagon.com">ThemeWagon.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>



</body>

</html>