{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
<!DOCTYPE html>

<!--// WEBSITE: https://themefisher.com-->
<html lang="en">

<head>
	<title>Home</title>
</head>

<body>
	{% block content %}
	<section class="banner">
		<div class="container">
			<div class="banner-img">
				<a href=""><img src="{% static 'images/fashion/bg-banner-2.jpg' %}" alt="" class="img-fluid w-100"></a>
			</div>
			{% comment %} <!--{% url 'blog:single' pid=post.id %}}--> {% endcomment %}
			<div class="row">
				<div class="col-lg-12">
					<div class="banner-content text-center">
						<div class="meta-cat">
							<span class="text-capitalize letter-spacing-1 cat-name font-extra text-color">Travel</span>
						</div>
						<div class="post-title">
							<h2><a href="">New summer hotspot in day life</a></h2>
						</div>
						{% comment %} <!--{% url 'blog:single' pid=post.id %}--> {% endcomment %}
						

						<div class="post-meta footer-meta">
							<ul class="list-inline">
								<li class="post-like list-inline-item">
									<span class="count">197</span> Likes
								</li>
								<li class="post-read list-inline-item">2 mins read</li>
								<li class="post-view list-inline-item">189 Views</li>
							</ul>
						</div>
						<div class="post-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat
								necessitatibus tenetur ratione eius numquam!</p>
							<a href="" class="btn btn-grey mt-3"> read more</a>
							{% comment %} <!--{% url 'blog:single' pid=post.id %}--> {% endcomment %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-padding pt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
					{% comment %} <!--{% url 'blog:single' pid=post.id %}--> {% endcomment %}
					{% comment %} <article class="post-list mb-5 pb-4 border-bottom">
						<a class="post-thumb mb-3 d-block" href="">
							<img src="{{posts.0.image.url}}" alt="" class="img-fluid w-100">
						</a>
						
						<div class="meta-cat">
							<span class="letter-spacing cat-name font-extra text-uppercase font-sm">{{cat}}</span>
						</div>
									
						<h3 class="post-title mt-2"><a href="">{{posts.2.title}}</a></h3>

						<div class="post-meta footer-meta">
							<ul class="list-inline">
								<li class="post-like list-inline-item">
									<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>{{post.time_to_read}} min read</span>
								</li>
								<li class="post-view list-inline-item letter-spacing-1">{{post.views}} Views</li>
							</ul>
						</div>
						<div class="post-content">
							<p>{{posts.1.content|truncatewords:18}}</p>

						</div>
					</article> {% endcomment %}

					{% for post in posts %}
					<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb" href="{% url 'blog:single' pid=post.id %}">
									<img src="{{post.image.url}}" alt="" class="img-fluid w-100">
								</a>
							</div>
							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										{% for cat in post.categories.all %}
											<a href="/?category={{cat}}"><span class="letter-spacing cat-name font-extra text-uppercase font-sm"></span>
											{% if not forloop.last %}
												{{cat}}</a>,
											{% else %}
												{{cat}}</a>
											{%endif%}
										{% endfor %}
									</div>
									
									<h3 class="post-title mt-2"><a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a></h3>
									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>{{post.time_to_read}} min
													read</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">{{post.views}} Views</li>
										</ul>
									</div>
									<div class="post-content">
										<p>{{post.content|truncatewords:15}}</p>
									</div>
									{% comment %} <div class="meta-cat">
										<h5>Tags
										{% for tag in post.tags.all %}
											<a href="/?tag={{tag}}"><span class="letter-spacing cat-name font-extra text-uppercase font-sm"></span>
											{% if not forloop.last %}
												{{tag}}</a>,
											{% else %}
												{{tag}}</a>
											{%endif%}
										{% endfor %} </h5>
									</div> {% endcomment %}
								</div>
							</div>
						</div>
					</div>
					{%endfor%}

					{% include "blog-pagination.html" %}

				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">
						<div class="sidebar-wrap mt-5 mt-lg-0">

							{% include 'blog-author.html'%}

							{% include "blog-trendingposts.html" %}

							{% count_blog_categories %}

							{% include "blog-newsletter.html" %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock content %}


</body>

</html>